.principal {
font-family: 'Bungee Shade', cursive;
font-size: 30px;
text-align: center;
}
.secundaria {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
}
.cuestionario {
font-family:'Courgette', cursive;
font-size: 25px;
}
body {
    background-image:url("https://i.pinimg.com/564x/9f/1d/2c/9f1d2cac66e380f97ab4ce05f05a4f93.jpg")

}
* {
    margin: 5px;
    padding-left: 10px;
    padding-top: 2px;
}